/* Color Theme Swatches in Hex */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", serif;
  cursor: none;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

::-moz-selection {
  background: #d82433;
  /* WebKit/Blink Browsers */
}

::selection {
  background: #d82433;
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #d82433;
  /* Gecko Browsers */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", sans-serif;
}

body {
  background-color: goldenrod;
  overflow-x: hidden;
  position: relative;
  min-height: 200vh;
  max-width: 100vw;
}

body .landing {
  background-color: #130f40;
  background-image: linear-gradient(45deg, #023e8c 0%, #046bf2 57%, #0c0c0c 57%);
  max-height: 200vh;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #0c0c0c;
}

body::-webkit-scrollbar {
  width: 5px;
  background-color: #0c0c0c;
}

body::-webkit-scrollbar-thumb {
  border-radius: 3.75px;
  -webkit-box-shadow: inset 0px 0 6px rgba(239, 240, 242, 0.4);
          box-shadow: inset 0px 0 6px rgba(239, 240, 242, 0.4);
  background-color: #d82433;
}

.cursor,
.cursor-2 {
  pointer-events: none;
  position: fixed;
  z-index: 999999999;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: 0.25s border-color ease-out, 0.25s -webkit-transform ease-in;
  transition: 0.25s border-color ease-out, 0.25s -webkit-transform ease-in;
  transition: 0.25s transform ease-in, 0.25s border-color ease-out;
  transition: 0.25s transform ease-in, 0.25s border-color ease-out, 0.25s -webkit-transform ease-in;
}

.cursor {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: 0.2rem solid #bf0313;
}

.cursor::before {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #eff0f2;
  -webkit-transition: 0.5s all 0.25s;
  transition: 0.5s all 0.25s;
}

.cursor-2 {
  width: 1.5rem;
  height: 1.5rem;
  background-color: transparent;
  border: 0.4rem solid #d82433;
  -webkit-animation: pulse 500ms infinite alternate;
          animation: pulse 500ms infinite alternate;
}

@-webkit-keyframes pulse {
  to {
    -webkit-transform: translate(-50%, -50%) scale(1.25);
            transform: translate(-50%, -50%) scale(1.25);
  }
}

@keyframes pulse {
  to {
    -webkit-transform: translate(-50%, -50%) scale(1.25);
            transform: translate(-50%, -50%) scale(1.25);
  }
}

@-webkit-keyframes pulse2 {
  to {
    height: 3rem;
    width: 3rem;
  }
}

@keyframes pulse2 {
  to {
    height: 3rem;
    width: 3rem;
  }
}

.bio {
  font-family: "Roboto Mono", serif;
  font-size: 6rem;
  color: #eff0f2;
  font-weight: bolder;
  text-align: center;
}

.bio-container {
  -webkit-perspective: 50px;
          perspective: 50px;
  display: inline-block;
  padding: 1rem;
  position: fixed;
  top: 40rem;
  right: 13%;
  width: 65rem;
  z-index: 15;
  background: #f2994a;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#f2c94c), to(#f2994a));
  background: linear-gradient(to right, #f2c94c, #f2994a);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bio .occupation {
  font-weight: bolder;
  color: #03173f;
  text-transform: uppercase;
  line-height: 2;
}

.name {
  text-rendering: geometricPrecision;
  color: #f2a007;
  font-weight: 100;
  font-size: 12rem;
  width: 100%;
}

.name-container {
  will-change: transform;
  display: inline-block;
  position: fixed;
  top: 25%;
  left: 55%;
  z-index: 5;
  width: 50vw;
}

.name-container::before {
  content: "";
  position: absolute;
  top: 5rem;
  left: -10rem;
  background: repeating-linear-gradient(45deg, rgba(12, 12, 12, 0), rgba(12, 12, 12, 0) 0.3rem, rgba(95, 95, 97, 0.25) 0.3rem, rgba(95, 95, 97, 0.25) 0.6rem);
  height: 30rem;
  width: 200%;
}

.headline {
  overflow-x: hidden;
  background: repeating-linear-gradient(45deg, rgba(239, 240, 242, 0.75), rgba(239, 240, 242, 0.75) 0.5rem, rgba(0, 0, 0, 0) 0.1rem, rgba(0, 0, 0, 0) 30rem);
  min-height: 200vh;
  width: 100vw;
}

.headline .left-background {
  position: fixed;
  left: 2rem;
  top: 2rem;
  z-index: 5;
  height: 200vh;
  width: 19.2rem;
  background-color: #eff0f2;
  background: repeating-linear-gradient(45deg, #0c0c0c, #0c0c0c 2.5rem, #eff0f2 2.5rem, #eff0f2 5rem);
  background-size: cover;
}

.headline .nav-list {
  position: fixed;
  z-index: 1000;
  width: 40rem;
  height: 100%;
  padding-top: 4rem;
}

.headline .nav-list-item {
  display: block;
  padding-left: 2.5%;
  margin-left: 10%;
  line-height: 1.75;
  color: #f2a007;
  text-decoration: none;
  font-size: 3.5rem;
  background-color: #0c0c0c;
  width: 80%;
  text-align: left;
  text-transform: capitalize;
  font-weight: 800;
  -webkit-transition: 0.125s color ease-out;
  transition: 0.125s color ease-out;
  margin-bottom: 0.75rem;
}

.headline .nav-list-item:hover {
  color: #0c0c0c;
}

.headline .nav-list-item:not(#resume)::before {
  z-index: -1;
  content: "";
  font-size: 3rem;
  position: absolute;
  bottom: 1.25rem;
  left: -1rem;
  width: 0;
  height: 30%;
  background-color: #f2b707;
  -webkit-transition: 0.1s width 0.1s;
  transition: 0.1s width 0.1s;
  overflow: hidden;
}

.headline .nav-list-item:not(#resume)::after {
  z-index: -1;
  content: "";
  font-size: 3rem;
  position: absolute;
  top: 1.25rem;
  right: 1rem;
  width: 0;
  height: 30%;
  background-color: #f2b707;
  -webkit-transition: 0.1s width 0.1s;
  transition: 0.1s width 0.1s;
  overflow: hidden;
}

.headline .nav-list-item:not(#resume):hover::before, .headline .nav-list-item:not(#resume):hover::after {
  width: 100%;
  -webkit-transition: 0.3s width ease-in-out;
  transition: 0.3s width ease-in-out;
}

.headline .nav-list #skills {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.headline .nav-list #projects {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.headline .nav-list #contact {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.headline .nav-list #resume {
  position: absolute;
  z-index: 50000;
  top: 95vh;
  left: 0;
  color: #eff0f2;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  text-align: left;
  padding-left: 1rem;
  text-transform: uppercase;
  background-color: #f2a007;
  border-radius: 0rem;
  overflow: hidden;
  border-radius: 0;
  max-height: 10rem;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.headline .nav-list #resume:before {
  position: absolute;
  content: "Click To Download";
  font-size: 2.5rem;
  color: rgba(12, 12, 12, 0);
  text-align: center;
  overflow: hidden;
  bottom: 0%;
  right: -2.5%;
  width: 0rem;
  height: 90%;
  background-color: #0c0c0c;
  -webkit-transition: 0.25s all ease-in;
  transition: 0.25s all ease-in;
}

.headline .nav-list #resume::after {
  position: absolute;
  content: "";
  height: 10%;
  left: 0;
  bottom: 0;
  width: 0;
  background-color: #f2a007;
  -webkit-transition: 0.25s all ease-out;
  transition: 0.25s all ease-out;
}

.headline .nav-list #resume:hover::before, .headline .nav-list #resume:hover::after {
  color: #f2b707;
  width: 100%;
}

#bio-page {
  width: 100vw;
  height: 400vh;
  background-color: #dee5f3;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left bottom, left top, from(#E9E4F0), to(#cccee3));
  background: linear-gradient(to top, #E9E4F0, #cccee3);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bio-title {
  display: inline-block;
  position: fixed;
  font-size: 8rem;
  top: 40%;
  left: -75%;
  background-color: red;
}

.white-text {
  font-family: inherit;
  color: #eff0f2;
  font-weight: 200;
}

.shake {
  -webkit-animation-delay: 0s !important;
          animation-delay: 0s !important;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
/*# sourceMappingURL=style.css.map */